[global]
{% if linstor_controllers is defined %}
controllers={{ linstor_controllers }}
{% else %}
controllers={% for node in groups['linstor'] %}{% if node['linstor_controller'] %}{{ node['ansible_host'] }}{% endif %}{% if not loop.last %},{% endif %}{% endfor %}
{% endif %}
